.options-form {
  background-color: lightblue;
  border-radius: 10px;
  padding: 10px 5px;
}

.option {
  display: flex;
  align-items: center;
}

.option > * {
  display: block;
}

.option > input:focus {
  border: 0 0 0 2px white,
              0 0 0 4px black;
}
